export(convertdate,
	convertICD10,
	importSubset,
	getDrugcodes,
	writeLatexTable,
	writeLatexMeanTable,
	writeLatexCountTable,
	tableBox,
	boxGrob,
	drawDetails.box,
	xDetails.box,
	yDetails.box
	)
	